:root {
  color-scheme: light dark; 
}

body {
  background-color: light-dark(#F8FAFC, #0B132B);
  color: light-dark(#747C92, #BFC1C2);
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: light-dark(#F8FAFC, #1a1d24);
  color: light-dark(#747C92, #BFC1C2);
  border: 1px solid #333;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 12px;
  background-color: light-dark(#747C92, #3a4150);
  color: light-dark(#BFC1C2, #BFC1C2);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: light-dark(#3a4150, #747C92);
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
}

#timetable {
  margin-bottom: 20px;
  padding: 10px;
  background-color: light-dark(#F8FAFC, #1a1d24);
  border: 1px solid #333;
}

.sigil img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    opacity: 0.8;
}